<span
  class="inline-flex items-center gap-2 rounded-full bg-[#7f4932] px-5 h-14 text-white"
>
  <svg
    data-icon="techs/astro"
    height="24"
    viewBox="0 0 24 25"
    width="24"
    data-astro-cid-3qibyvd4=""
    ><symbol id="ai:local:techs/astro"
      ><g fill="none"
        ><g clip-path="url(#a)"
          ><path
            d="M15.282 2.275c.182.226.275.531.46 1.142l4.061 13.338a16.9 16.9 0 0 0-4.854-1.644l-2.643-8.934a.344.344 0 0 0-.66.001l-2.612 8.929c-1.7.296-3.344.851-4.876 1.645l4.08-13.338c.187-.61.28-.915.462-1.14a1.5 1.5 0 0 1 .608-.45c.269-.108.588-.108 1.225-.108h2.915c.637 0 .957 0 1.226.108a1.5 1.5 0 0 1 .608.45"
            fill="#fff"></path><path
            d="M15.768 17.389c-.67.573-2.006.963-3.545.963-1.888 0-3.471-.588-3.891-1.38-.15.454-.184.973-.184 1.305 0 0-.099 1.626 1.033 2.758a1.063 1.063 0 0 1 1.063-1.064c1.007 0 1.007.878 1.006 1.592v.063a2.6 2.6 0 0 0 1.602 2.4 2.2 2.2 0 0 1-.22-.955c0-1.033.606-1.417 1.31-1.863.56-.355 1.183-.75 1.612-1.542a2.92 2.92 0 0 0 .214-2.277"
            fill="#FF5D01"></path><path
            d="M15.768 17.389c-.67.573-2.006.963-3.545.963-1.888 0-3.471-.588-3.891-1.38-.15.454-.184.973-.184 1.305 0 0-.099 1.626 1.033 2.758a1.063 1.063 0 0 1 1.063-1.064c1.007 0 1.007.878 1.006 1.592v.063a2.6 2.6 0 0 0 1.602 2.4 2.2 2.2 0 0 1-.22-.955c0-1.033.606-1.417 1.31-1.863.56-.355 1.183-.75 1.612-1.542a2.92 2.92 0 0 0 .214-2.277"
            fill="url(#b)"></path></g
        ><defs
          ><linearGradient
            gradientUnits="userSpaceOnUse"
            id="b"
            x1="18.782"
            x2="14.819"
            y1="12.733"
            y2="21.029"
            ><stop stop-color="#FF1639"></stop><stop
              stop-color="#FF1639"
              offset="1"
              stop-opacity="0"></stop></linearGradient
          ><clipPath id="a"
            ><path d="M0 .5h24v24H0z" fill="#fff"></path></clipPath
          ></defs
        ></g
      ></symbol
    ><use xlink:href="#ai:local:techs/astro"></use></svg
  >
  <span class="font-semibold drop-shadow-xl">Astro</span>
</span>
