<span class="inline-flex items-center gap-2 px-3 h-14 bg-[#32547f] rounded-full" 
  ><svg
    data-icon="techs/tailwindcss"
    height="24"
    viewBox="0 0 24 25"
    width="24"
    ><symbol id="ai:local:techs/tailwindcss"
      ><g fill="none"
        ><g clip-path="url(#a)"
          ><path
            d="M12 5.3q-4.8 0-6 4.8 1.8-2.4 4.2-1.8c.914.228 1.566.89 2.29 1.624C13.664 11.118 15.026 12.5 18 12.5q4.8 0 6-4.8-1.8 2.4-4.2 1.8c-.912-.228-1.564-.89-2.288-1.624C16.337 6.682 14.975 5.3 12.001 5.3m-6 7.2q-4.8 0-6 4.8 1.8-2.4 4.2-1.8c.914.228 1.566.89 2.29 1.624C7.665 18.318 9.026 19.7 12 19.7q4.8 0 6-4.8-1.8 2.4-4.2 1.8c-.912-.228-1.564-.89-2.288-1.624-1.176-1.194-2.537-2.576-5.511-2.576"
            fill="#38BDF8"></path></g
        ><defs
          ><clipPath id="a"
            ><path d="M0 .5h24v24H0z" fill="#fff"></path></clipPath
          ></defs
        ></g
      ></symbol
    ><use xlink:href="#ai:local:techs/tailwindcss"></use></svg
  >
  <span class="font-semibold">TailwindCSS</span>
</span>
