---
import Layout from "../layouts/Layout.astro";
import API from "../components/Tags/api.astro";
import Postman from "../components/Tags/postman.astro";
import ReactNative from "../components/Tags/reactNative.astro";
import GoogleClould from "../components/Tags/googleClould.astro";

import Github from "../components/github-astro.astro";
import Back from "../components/back.astro";
---

<Layout title="Enova">
  <section
    class="z-30 mx-auto mt-56 flex w-full max-w-[108rem] items-start justify-start text-white"
  >
    <div class="flex flex-col gap-9">
      <Back />
      <h2 class="font-RobotoSlabBold text-white text-6xl">Enova</h2>
      <div class="flex gap-4">
        <ReactNative />
        <Postman />
        <GoogleClould />
        <API />
      </div>
      <p class="font-RobotoSlabRegular text-white text-2xl">
        Enova is a mobile application developed with React Native, aimed at
        promoting and facilitating recycling through the use of advanced
        technologies. The app integrates the Chat GPT API to provide an
        interactive and informative chat experience about recycling practices,
        as well as the Google Cloud Vision API to identify and classify
        recyclable objects using vision technology.
      </p>
      <Github
        title="View Repository"
        href="https://github.com/DAVAS110/Enova"
      />
    </div>
  </section>
</Layout>
